.one {
  padding: 40px;
  margin: 40px;
  background: rgb(74, 99, 243);
  color: rgb(255, 226, 226);
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.inline-link-3 {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  font-size: 40px;
  text-decoration: none;
  color: #e6177e;
  
}
.button {
  background-color: #008cff;
  color: white;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  margin: 400px 850px;
  cursor: pointer;
  border-radius: 40px;
}
