.one {
  padding: 20px;
  margin: 20px;
  background: coral;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.inline-link-3 {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  font-size: 40px;
  text-decoration: none;
  color: #e6177e;
  
}
